SUMCMD	WS1_ANG
MEASUREOFFSET	20
PRORATEINFO	YES	25
REVERSESCORE	YES	0	4
SUM	13	15	18
----------------------------------------------------------------------------------------------
SUMCMD	WS1_ANX
MEASUREOFFSET	20
PRORATEINFO	YES	25
REVERSESCORE	YES	0	4
SUM	3	6	8	R10
----------------------------------------------------------------------------------------------
SUMCMD	WS1_CONC
MEASUREOFFSET	20
PRORATEINFO	YES	25
REVERSESCORE	YES	0	4
SUM	R4	23	27
----------------------------------------------------------------------------------------------
SUMCMD	WS1_CRAV
MEASUREOFFSET	20
PRORATEINFO	YES	25
REVERSESCORE	YES	0	4
SUM	9	11	20	26
----------------------------------------------------------------------------------------------
SUMCMD	WS1_HUNG
MEASUREOFFSET	20
PRORATEINFO	YES	25
REVERSESCORE	YES	0	4
SUM	R1	14	16	21	28
----------------------------------------------------------------------------------------------
SUMCMD	WS1_SAD
MEASUREOFFSET	20
PRORATEINFO	YES	25
REVERSESCORE	YES	0	4
SUM	R7	12	19	R24
----------------------------------------------------------------------------------------------
SUMCMD	WS1_SLE
MEASUREOFFSET	20
PRORATEINFO	YES	25
REVERSESCORE	YES	0	4
SUM	R2	5	R17	R22	25
----------------------------------------------------------------------------------------------