SUMCMD	AEI_POS
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	8	11	13	15	16	18	22	24
--------------------------------------------------------------------------
SUMCMD	AEI_NEG
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	2	5	6	7	10	12	14	17	19
--------------------------------------------------------------------------
SUMCMD	AEI_ARO
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	1	2	3	4	5	10	11	13	16
--------------------------------------------------------------------------
SUMCMD	AEI_SOD
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	8	9	14	15	17	19	20	23	24
--------------------------------------------------------------------------
END