SUMCMD	ARS_ANGTHTS
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	19	18	9	7	8
--------------------------------------------------------------------------
SUMCMD	ARS_REV
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	4	16	13	6		
--------------------------------------------------------------------------
SUMCMD	ARS_MEM
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	2	3	15	1	5
--------------------------------------------------------------------------
SUMCMD	ARS_CAUSE
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	12	17	11	10
--------------------------------------------------------------------------
SUMCMD	ARS_TOT
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19
--------------------------------------------------------------------------
END