SUMCMD	DMR_SOC
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	3	5	11	14	16
--------------------------------------------------------------------------
SUMCMD	DMR_COP
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	1	4	6	15	17
--------------------------------------------------------------------------
SUMCMD	DMR_ENH
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	7	9	10	13	18
--------------------------------------------------------------------------
SUMCMD	DMR_CON
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	2	8	12	19	20
--------------------------------------------------------------------------
END