SUMCMD	AXEQ_PSWQ
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	YES	1	5
SUM	R1	2	R3	4	5	6	7	R8	9	R10	R11	12	13	14	15	16		
--------------------------------------------------------------------------
SUMCMD	AXEQ_TPQ
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	
--------------------------------------------------------------------------
SUMCMD	AXEQ_AGO
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	20	21	23	27	30
--------------------------------------------------------------------------
SUMCMD	AXEQ_BLD
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	17	19	25	28	31	
--------------------------------------------------------------------------
SUMCMD	AXEQ_SOC
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO	
SUM	18	22	24	26	29
--------------------------------------------------------------------------
SUMCMD	AXEQ_PAT
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO	
SUM	32
--------------------------------------------------------------------------
SUMCMD	AXEQ_PAS
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO	
SUM	33	34	35	36	37	38	39	40	41	42	43	44	45	46
--------------------------------------------------------------------------
SUMCMD	AXEQ_UNX
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO	
SUM	47
--------------------------------------------------------------------------
SUMCMD	AXEQ_MPA
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO	
SUM	48	
--------------------------------------------------------------------------
SUMCMD	AXEQ_LPA
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO	
SUM	49
--------------------------------------------------------------------------
SUMCMD	AXEQ_PDO
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO	
SUM	50	51	52
--------------------------------------------------------------------------
SUMCMD	AXEQ_AGD
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO	
SUM	53	54
--------------------------------------------------------------------------
END