SUMCMD	SSS_DIS
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	YES	0	1
SUM	R1	12	13	25	R29	30	R32	33	35	R36	
--------------------------------------------------------------------------
SUMCMD	SSS_BOR
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	YES	0	1
SUM	2	R5	7	R8	15	R24	27	31	R34	R39	
--------------------------------------------------------------------------
SUMCMD	SSS_THR
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	YES	0	1
SUM	R3	11	R16	R17	20	21	R23	R28	38	40
--------------------------------------------------------------------------
SUMCMD	SSS_EXP
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	YES	0	1
SUM	4	R6	R9	10	R14	R18	19	R22	26	37	
--------------------------------------------------------------------------
SUMCMD	SSS_TOT
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	YES	0	1
SUM	R1	2	R3	4	R5	R6	7	R8	R9	10	11	12	13	R14	15	R16	R17	R18	19	20	21	R22	R23	R24	25	26	27	R28	R29	30	31	R32	33	R34	35	R36	37	38	R39	40
--------------------------------------------------------------------------
END