SUMCMD	STA_TAI
MEASUREOFFSET	105
PRORATEINFO	YES	25
REVERSESCORE	YES	0	3
SUM	R1	2	3	4	5	R6	R7	8	9	R10	11	12	R13	14	15	R16	17	18	R19	20	
--------------------------------------------------------------------------
END