SUMCMD	CESD_TOT
MEASUREOFFSET	398
PRORATEINFO YES	25
REVERSESCORE	YES
SUM	1	2	3	R4	5	6	7	R8	9	10	11	R12	13	14	15	R16	17	18	19	20
--------------------------------------------------------------------------
END