SUMCMD	EMQ_SOC
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	1	4	7	10	13
--------------------------------------------------------------------------
SUMCMD	EMQ_COP
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	2	5	8	11	14
--------------------------------------------------------------------------
SUMCMD	EMQ_ENH
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	3	6	9	12	15
--------------------------------------------------------------------------
END