SUMCMD	PAX_PAF
MEASUREOFFSET	5
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	3	8	13	25	31	37	39	47	52	55
--------------------------------------------------------------------------
SUMCMD	PAX_NAF
MEASUREOFFSET	5
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	11	18	26	32	34	38	40	42	44	50
--------------------------------------------------------------------------
SUMCMD	PAX_ATT
MEASUREOFFSET	5
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	3	25	52	59
--------------------------------------------------------------------------
SUMCMD	PAX_SHY
MEASUREOFFSET	5
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	4	23	30	49
--------------------------------------------------------------------------
SUMCMD	PAX_FAT
MEASUREOFFSET	5
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	5	19	36	45
--------------------------------------------------------------------------
SUMCMD	PAX_SER
MEASUREOFFSET	5
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	10	17	43
--------------------------------------------------------------------------
SUMCMD	PAX_SUR
MEASUREOFFSET	5
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	7	20	54
--------------------------------------------------------------------------
SUMCMD	PAX_FER
MEASUREOFFSET	5
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	18	21	34	40	44	53
--------------------------------------------------------------------------
SUMCMD	PAX_HOS
MEASUREOFFSET	5
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	2	9	11	27	38	56
--------------------------------------------------------------------------
SUMCMD	PAX_GLT
MEASUREOFFSET	5
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	15	32	42	46	51	60
--------------------------------------------------------------------------
SUMCMD	PAX_SAD
MEASUREOFFSET	5
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	16	24	29	35	48
--------------------------------------------------------------------------
SUMCMD	PAX_JOV
MEASUREOFFSET	5
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	1	12	22	33	37	41	47	58
--------------------------------------------------------------------------
SUMCMD	PAX_SAS
MEASUREOFFSET	5
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	6	8	14	28	39	57
--------------------------------------------------------------------------
END