SUMCMD	AEX_OUT
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	2	7	9	11	13	17	19	20
--------------------------------------------------------------------------
SUMCMD	AEX_AIN
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	3	5	6	10	12	14	15	18
--------------------------------------------------------------------------
SUMCMD	AEX_CON
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	1	8	16
--------------------------------------------------------------------------
SUMCMD	AEX_TOT
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	NO
SUM	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20
--------------------------------------------------------------------------
END