SUMCMD	AXEQ_PSWQ
MEASUREOFFSET	1
PRORATEINFO	YES	25
REVERSESCORE	YES	1	5
SUM	R1	2	R3	4	5	6	7	R8	9	R10	R11	12	13	14	15	16		
--------------------------------------------------------------------------
END