COPYCMD	DBQ_PREF	1	0
--------------------------------------------------------------------------
RECODECMD	DBQ_FREQ	2	0
NUMVALUES	10
VALUE	1	.25
VALUE	2	.625
VALUE	3	1
VALUE	4	2
VALUE	5	3.5
VALUE	6	5.5
VALUE	7	7.5
VALUE	8	10.5
VALUE	9	17
VALUE	10	21
--------------------------------------------------------------------------
RECODECMD	DBQ_QUAN	3	0
NUMVALUES	10
VALUE	1	.5
VALUE	2	1
VALUE	3	2
VALUE	4	3
VALUE	5	4
VALUE	6	5
VALUE	7	6
VALUE	8	8
VALUE	9	11
VALUE	10	13
--------------------------------------------------------------------------
RECODECMD	DBQ_RTLG	4	0
NUMVALUES	10
VALUE	1	.25
VALUE	2	.375
VALUE	3	.75
VALUE	4	1
VALUE	5	2
VALUE	6	3
VALUE	7	4
VALUE	8	6
VALUE	9	9
VALUE	10	11
--------------------------------------------------------------------------
COPYCMD	DBQ_PVRT	5	0
--------------------------------------------------------------------------
RECODECMD	DBQ_FRHG	6	0
NUMVALUES	10
VALUE	1	.125
VALUE	2	.25
VALUE	3	.5
VALUE	4	.75
VALUE	5	1
VALUE	6	2
VALUE	7	3
VALUE	8	4
VALUE	9	6
VALUE	10	8
--------------------------------------------------------------------------
RECODECMD	DBQ_QNHG	7	0
NUMVALUES	10
VALUE	1	0
VALUE	2	1
VALUE	3	2
VALUE	4	3
VALUE	5	4
VALUE	6	5
VALUE	7	6
VALUE	8	8
VALUE	9	11
VALUE	10	13
--------------------------------------------------------------------------
RECODECMD	DBQ_FRDK	8	0
NUMVALUES	10
VALUE	1	.125
VALUE	2	.25
VALUE	3	.5
VALUE	4	.75
VALUE	5	1
VALUE	6	2
VALUE	7	3
VALUE	8	4
VALUE	9	6
VALUE	10	8
--------------------------------------------------------------------------
RECODECMD	DBQ_QNDK	9	0
NUMVALUES	10
VALUE	1	0
VALUE	2	1
VALUE	3	2
VALUE	4	3
VALUE	5	4
VALUE	6	5
VALUE	7	6
VALUE	8	8
VALUE	9	11
VALUE	10	13
--------------------------------------------------------------------------
COPYCMD	DBQ_TOLR	10	0
--------------------------------------------------------------------------
END